/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap');

body {
    padding-top: 50px;
    padding-bottom: 20px;
    
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel {
    margin-bottom: 10px;
}
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
    .column {
        width: 100%;
    }
}
h1{
    font-family: 'Darker Grotesque', sans-serif;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px; 
}

h2 {
    display: block;
    font-size: 42px;
    font-family: 'Darker Grotesque', sans-serif;
    text-align: center;
    padding-top: 66px;
    padding-bottom: 30px;
    
}

h3 {
    display: block;
    font-size: 30px;
    font-family: 'Darker Grotesque', sans-serif;
    padding-bottom: 20px;
}

.social-media-icons{
    margin: auto;
}

.font-style{
    font-family: 'M PLUS 1p', sans-serif;
}

.card {
    margin-bottom: 20px;
}
.card-shadow {
    box-shadow: 1px 1px 5px gray;

}
.card-find-us {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-find-us .card-body {
    flex: initial;
}
.card-body{
    padding:30px;
}

.card-small {
    height: 350px;
}
.card-justified {
    text-align: justify;
}

.card-title{
    font-size: 30px;
    font-family: 'Darker Grotesque', sans-serif;
}

.card-blog{
    padding-bottom:0px;
}


.navbar-font {
    font-size: 28px;
    font: bold;
    font-family: 'Darker Grotesque', sans-serif;
}
.card-login {
    max-width: 500px;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
}
body {
    margin-top: 20px;
}
.text-overflow {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    max-width: 500px;
}
.img-post {
    max-width: 1250px;
}
.card-img-top
{
    height: 200px;
}
.container-post{
    margin-left:60px;
    margin-right: 60px;
    padding: 15px;
    padding: 15px;
    align-content: center;
}
.color-font{
    color: #fff;
    
}
.color-font:hover{
    color: #fff;
}
.post-content{
text-align: justify;
text-indent: 3em;
}
.col-md-10{
    max-width: 100%;
}
footer{
    text-align: center;
}